/* Font weight */
strong { 
	font-weight: 600; 
}

.f-300{
	font-weight: 300;
}

.f-600 {
	font-weight: 600;
}
.f-400 {
	font-weight: 400;
}
.f-15{
	font-size: 14px;
}
.f-12{
	font-size: 12px;
}
.f-10{
	font-size: 10px;
}
/* Paddings */
.pd-0{
	padding: 0;
}

.pd-2 {
	padding: 2%;
}

.pv-0 {
	padding-top: 0%;
	padding-bottom: 0%;
}

.pv-2{
	padding-top: 2%;
	padding-bottom: 2%;
}

.pv-56 {
	padding-top: 56px !important;
	padding-bottom: 56px !important;
}

.pd-5 {
	padding: 5%;
}
.pd-left{
	padding-left: 0;
}
.ph-7{
	padding-left: 7%;
	padding-right: 7%;
}
.pd-tb-3{
	padding: 3% 0 3% 0;
}
.pd-tbrl{
	padding: 2% 4% 0 4%;
}
.pd-10 {
	padding: 10%;
}
.pd-5{
	padding: 5%;
}
.pl-8{
	padding-left: 8px;
}
.pd-14{
	padding: 14px;
}
.pt-0 {
	padding-top: 0%;
}
.pl-15 {
	padding-left: 15px;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}
.pb-15{
	padding-bottom: 15%;
}
.pr-5{
	padding-right: 5%;
}

.mg-0{
	margin: 0;
}

.mt-0{
	margin-top: 0;
}

.mt-7 {
	margin-top: 7px;
}

.mt-14{
	margin-top: 14px;
}
.mt-35 {
	margin-top: 35px;
}

.mg-right-30{
	margin-right: 30px;
}
.mg-top{
	margin-top: 10px;
}
.mg-top-30{
	margin-top: 30px;
}
.mg-top-50{
	margin-top: 50px;
}

.mb-0 {
	margin-bottom: 0px !important;
}

.mb-7 {
	margin-bottom: 7px !important;
}
.mb-21 {
	margin-bottom: 21px !important;
}

.mb-35{
	margin-bottom: 35px;
}

.mb-42{
	margin-bottom: 42px;
}

.mt-63 {
	margin-top: 63px;
}
.mt-150{
	margin-top: 150px;
}
.mg-btm-50{
	margin-bottom: 50px;
}
.w-100{
	width: 100%;
}

.lh{
	line-height: 4.5rem;
}

.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

.text-white{
	color: white;
}
.text-gray{
	color: #888;
}

.text-green{
 	color: #0dc0c0;
}
.text-celeste{
	color: #B3DEF4;
}
.text-fucsia{
	color: #EC8EBD;
}
.text-celeste-oscuro{
	color: #A6E9D4;
}
.text-marron{
	color:#E6CB7F; 
}
.a-none-decoration{
	text-decoration: none;
}

.bg-negro{
	background-color: black;
}

.bg-white{
	background-color: white;
}

.bg-img-block {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}


.transparent {
        /*background-color: transparent; */
        background: url('../img/bg_transparent.png');
        border:none;
        border-radius: 0;
        font-weight: 600;
}

.bbt-none{
	border: none;
}
.width-250{
	width: 250px;
}

hr{
	 border: -1px solid #DDDDDD; 
	 width: 80%;
	 align-content: center;
}
